{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Issue Product {% endblock %}
{% block content %}
    <h3 style="text-align: center;">Inventory Status:</h3>
    <ul>
    {% for product in products %}
        <li>{{ product.name }} - Quantity: {{ product.quantity }} | Price: {{ product.price }}$
            | {{ product.company.name }}</li>
    {% endfor %}
    </ul>
    =========================================
   <div class="card" style="width: 18rem; margin-left: 80px;">
  <div class="card-body">
    <h5 class="card-title">Issue Product</h5>
    <p class="card-text">Enter product to issue</p>
       <form method="post" action="{% url 'issue_product' %}">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Issue product</button>
        <a href="{% url 'index' %}" title="Back"><i class="fa-solid fa-2x fa-rotate-left"></i></a>
    </form>
  </div>
</div>
{% endblock %}

