{% extends 'base.html' %}
{% block title %} {{ product.name }} Details {% endblock %}
{% block content %}
    <title>{{ product.name }} Details</title>
    <h1>{{ product.name }} Details</h1>
    <ul>
        <li><strong>Name:</strong> {{ product.name }}</li>
        <li><strong>Price:</strong> {{ product.price }}$</li>
        <li><strong>Quantity:</strong> {{ product.quantity }}</li>
        <li><strong>Company:</strong> {% if product.company %}{{ product.company.name }}{% else %}N/A{% endif %}</li>
        <li><strong>Regions:</strong>
            {% if product.region.all %}
                {% for region in product.region.all %}
                    {{ region.region }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                N/A
            {% endif %}
        </li>
    </ul>
    <a href="{% url 'display_product_list' %}"  title="Back"><i class="fa-solid fa-2x fa-rotate-left"></i></a>
{% endblock %}