{% extends 'base.html' %}
{% block title %} Product List {% endblock %}
{% block content %}
    <h1 style="text-align: center;">Product List:</h1>
    <ul>
    {% for product in products %}
        <li>{{ product.name }} - Quantity: {{ product.quantity }} | Price: {{ product.price }}$
            | {% if product.company %}{{ product.company.name }}{% else %}empty{% endif %}
            | {% if product.region.all %}{% for region in product.region.all %}
                {{ region.region }}{% if not forloop.last %}, {% endif %}
            {% endfor %}{% endif %}
            <a href="{% url 'product_details' pk=product.pk %}" class="btn btn-secondary">Details</a>
        </li>
    {% endfor %}
    </ul>
<a href="{% url 'index' %}" title="Back"><i class="fa-solid fa-2x fa-rotate-left"></i></a>
{% endblock %}

